<div class="nav__container__darklightmode">
  <slot/>
</div>

<style>
  .nav__container__darklightmode {
    width: 100%;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>