<section class="homepage__content">
  <h1 class="homepage__content__title">Actions for Accessibility in Design</h1>
  <p class="homepage__content__text">The fastest way to build and deploy websites with resusable components.</p>
</section>

<style>
  .homepage__content {
    width: 100%;
    height: auto;
    display: contents;
    gap: 1.50rem;
  }
  .homepage__content__title {
    font-size: var(--font-size-title);
    margin: 0;
    color: var(--secondary-color);
    text-wrap: balance;
  }
  .homepage__content__text {
    font-size: var(--font-size-body);
    color: var(--secondary-color);
    text-wrap: pretty;
  }
</style>
