<span class="container__buttoms">
  <a class="buttom__homepage__getstarted">GET STARTED</a>
  <a class="buttom__homepage__livedemo">Get live demo</a>
</span>

<style>
  .container__buttoms {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: .8rem;
    color: var(--secondary-color);
  }
  .buttom__homepage__getstarted {
    width: 10rem;
    height: 3rem;
    background-color: var(--color-blue);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white1);
    font-size: var(--font-size-buttom);
  }
  .buttom__homepage__livedemo {
    width: 10rem;
    height: 3rem;
    color: var(--color-blue);
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-buttom);
    font-weight: var(--font-weight-bold);
  }
</style>
