---
import LogoAlarado from './LogoAlarado.astro';
import BtOpenMenu from './BtOpenMenu.astro';
import BtCloseMenu from './BtCloseMenu.astro';
import DarkAndLightMode from './DarkAndLightMode.astro';
---

<header class="nav">
  <LogoAlarado />
  <dialog class="nav__modal">
    <nav class="nav__modalcontainer">
      <BtCloseMenu />
      <nav class="nav__navegation">
        <ul class="nav__navegation__ul">
          <li><a class="nav__navegation__a" href="#">About us</a></li>
          <li><a class="nav__navegation__a" href="#">Product</a></li>
          <li><a class="nav__navegation__a" href="#">Resource</a></li>
          <li><a class="nav__navegation__a" href="#">Contact</a></li>
        </ul>
      </nav>
      <DarkAndLightMode />
    </nav>
  </dialog>
  <BtOpenMenu />
</header>

<style>
  .nav {
    width: 100svw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.25rem;
    top: 0;
    bottom: 0;
  }
  .nav__modal {
    width: 100svw;
    height: 100svh;
    margin: 0;
    padding: 0;
    background-color: var(--color-white1);
    border: none;
    bottom: 0;
  }
  .nav__modalcontainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
  }
  .nav__modalcontainer .nav__navegation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .nav__modalcontainer .nav__navegation__ul {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
  }
  .nav__modalcontainer .nav__navegation__a {
    color: var(--color-gray);
    font-size: 2.5em;
    font-weight: 600;
    transition: color, font-size 1s;
  }
  .nav__modalcontainer .nav__navegation__a:hover {
    color: var(--color-darkpastelblue);
    font-size: 2.6em;
  }
</style>