---
import LogoAlarado from './LogoAlarado.astro';
import BtOpenMenu from './BtOpenMenu.astro';
import BtCloseMenu from './BtCloseMenu.astro';
import DarkAndLightMode from './DarkAndLightMode.astro';
---

<header class="navigationofpage">
  <LogoAlarado />
  <dialog class="modal">
    <section class="modal__container">
      <div class="modal__container--flexend">
        <BtCloseMenu />
        <nav class="nav__navegation">
          <ul class="nav__navegation__ul">
            <li><a class="nav__navegation__a" href="#">About us</a></li>
            <li><a class="nav__navegation__a" href="#">Product</a></li>
            <li><a class="nav__navegation__a" href="#">Resource</a></li>
            <li><a class="nav__navegation__a" href="#">Contact</a></li>
          </ul>
        </nav>
        <DarkAndLightMode />
      </div>
    </section>
  </dialog>
  <BtOpenMenu />
</header>

<style>
  .navigationofpage {
    width: 100svw;
    min-height: 5rem;
    max-height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.25rem;
  }
  .modal {
    position: fixed;
    inset: 0;
    width: 100svw;
    height: 100svh;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
  }
  .modal__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
  }
  .modal__container--flexend {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    background-color: var(--color-white1);
  }
  .nav__navegation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .nav__navegation__ul {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
  }
  .nav__navegation__a {
    color: var(--color-gray);
    font-size: 2rem;
    font-weight: 600;
    text-wrap: balance;
    transition: color 1s;
  }
  .nav__navegation__a:hover {
    color: var(--color-darkpastelblue);
    transform: scale(2rem);
  }
</style>