---
import DoneRingRoundFill from '../images/Done_ring_round_fill.svg'
import { Image } from 'astro:assets';
---

<aside>
  <section class="container">
    <span class="container__span">
      <figure><Image src={DoneRingRoundFill} alt='icon check'/></figure>
      <p class="container__text">No credit card required</p>
    </span>
    <span class="container__span">
      <figure><Image src={DoneRingRoundFill} alt='icon check' /></figure>
      <p class="container__text">No software to install</p>
    </span>
  </section>
</aside>

<style>
  .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: .6rem;
  }
  .container__span {
    display: flex;
    gap: .2rem;
    align-items: center;
  }
  .container__text {
    color: var(--secondary-color);
    font-size: var(--font-size-small);
  }
</style>
