---
import NavegationHeader from '../components/NavegationHeader.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta name="color-scheme" content="dark light">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Alarado</title>
	</head>
	<body>
    <NavegationHeader />  
		<slot />
    <script>
      import '../scripts/interaction-menu.js'
    </script>
	</body>
</html>
<style is:global>
	:root {
    --color-white1: #FAFAFA;
    --bg-home-page: #F2F9FE;
    --color-gray: #909193;
    --color-blue: #2A4DD0;
    --color-green: #4CA154;
    --color-darkpastelblue: #111729;
    --secondary-color: #223344;
    
    --inset-buttom-mode-dark: inset 0 8rem 4.3rem rgba(0, 0, 0, .1), inset 0 .5rem .5rem rgba(0, 0, 0, .1), inset 0 -.025rem .5rem rgba(0, 0, 0, .1);

    --font-weight-bold: bold;
    --font-size-title: 2.8rem;
    --font-size-body: 1.125rem;
    --font-size-buttom: 1rem;
    --font-size-small: .75rem;
	}
  .mode_dark {
    --bg-home-page: #111729;
    --secondary-color: #FAFAFA;
  }
	html {
		font-family: 'Poppins', sans-serif;
	}
	body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-home-page);
  }
  a {
    text-decoration: none;
    display: block;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    aspect-ratio: auto;
  }
  p {
    margin: 0;
    padding: 0;
  }
  figure {
    margin: 0;
    padding: 0;
  }
</style>
